@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  width: auto;
  box-sizing: border-box;
  background: transparent;
  color: #121212;
  font: 400 16px "Poppins", sans-serif;
}

section {
  padding: 50px 0;
  margin: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

.bgGradient {
  background-image: radial-gradient(at 40% 20%, rgb(255, 184, 122) 0px, transparent 50%), radial-gradient(at 80% 0%, rgb(31, 221, 255) 0px, transparent 50%), radial-gradient(at 0% 50%, rgb(255, 219, 222) 0px, transparent 50%), radial-gradient(at 80% 50%, rgb(255, 133, 173) 0px, transparent 50%), radial-gradient(at 0% 100%, rgb(255, 181, 138) 0px, transparent 50%), radial-gradient(at 80% 100%, rgb(107, 102, 255) 0px, transparent 50%), radial-gradient(at 0% 0%, rgb(255, 133, 167) 0px, transparent 50%);
  background-repeat: no-repeat;
}

header {
  background: transparent;
}
header .navbar {
  margin: 0;
  padding: 0;
}
header .navbar .navbar-brand img {
  width: 80px;
}
header .navbar .navbar-collapse {
  justify-content: flex-end;
}
header .navbar .navbar-collapse .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 16px;
}
header .navbar .navbar-collapse .navbar-nav .nav-link:hover, header .navbar .navbar-collapse .navbar-nav .nav-link.active {
  color: #00beff;
}
header .navbar .navbar-collapse .navbar-nav .show > .nav-link {
  color: #00beff;
}
header .navbar.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.carousel .carousel-inner .carousel-item {
  position: relative;
  max-height: 550px;
}
.carousel .carousel-inner .carousel-item .background-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.carousel .carousel-inner .carousel-item img {
  z-index: 2;
}
.carousel .carousel-inner .carousel-item .carousel-caption {
  top: 40%;
  z-index: 3;
  margin: 0;
  padding: 0;
}
.carousel .carousel-inner .carousel-item .carousel-caption h2 {
  font-size: 44px !important;
  margin-bottom: 15px !important;
  text-align: left;
}
.carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 18px !important;
  margin-bottom: 15px !important;
  text-align: left;
}
.carousel .carousel-control-next, .carousel .carousel-control-prev {
  z-index: 4;
  top: auto;
  bottom: 3%;
}
.carousel .carousel-indicators {
  margin-bottom: 0;
  bottom: 3%;
}

.textContentBox {
  position: relative;
}
.textContentBox .textBoxes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.textContentBox .textBoxes h3 {
  margin-bottom: 15px;
}
.textContentBox .imagebox {
  position: relative;
  height: 100%;
  width: 100%;
}
.textContentBox .imagebox.first {
  box-shadow: -30px 30px rgba(58, 151, 216, 0.3);
}
.textContentBox .imagebox.second {
  box-shadow: 30px -30px rgba(58, 151, 216, 0.3);
}
.textContentBox .imagebox img {
  height: 100%;
  width: 100%;
}

.gallery-wrapper {
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-auto-flow: dense;
}
.gallery-wrapper .w-1 {
  grid-column: span 1;
}
.gallery-wrapper .w-2 {
  grid-column: span 2;
}
.gallery-wrapper .w-3 {
  grid-column: span 3;
}
.gallery-wrapper .w-4 {
  grid-column: span 4;
}
.gallery-wrapper .w-5 {
  grid-column: span 5;
}
.gallery-wrapper .h-1 {
  grid-row: span 1;
}
.gallery-wrapper .h-2 {
  grid-row: span 2;
}
.gallery-wrapper .h-3 {
  grid-row: span 3;
}
.gallery-wrapper .h-4 {
  grid-row: span 4;
}
.gallery-wrapper .h-5 {
  grid-row: span 5;
}
.gallery-wrapper .gallery-item {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
}

.imagebox {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imagebox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  transition: all 400ms ease-in;
  transform: scale(1);
}
.imagebox img:hover {
  transform: scale(1.1);
}

#gallery {
  position: relative;
}
#gallery .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
#gallery .wrapper .galleryCarousel {
  width: 100%;
  margin: 0px;
  padding: 0;
}
#gallery .wrapper .galleryCarousel .slick-slide {
  padding: 0;
  margin: 0;
  height: 400px;
  cursor: pointer;
}
#gallery .wrapper .galleryCarousel .slick-slide img {
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
}

#testimonials {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
#testimonials #testimonialsSliderBox {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#testimonials #testimonialsSliderBox .carousel-inner {
  display: flex;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox {
  position: relative;
  width: 800px;
  height: 400px;
  margin: auto;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox .testimonialsContent {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 550px;
  height: auto;
  color: #121212;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  padding: 40px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox .testimonialsContent p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox .testimonialsContent h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  color: #121212;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox .testimonialsImage {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox .testimonialsImage img {
  height: 100%;
  border-radius: 10px;
  width: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#testimonials #testimonialsSliderBox .carousel-control-next-icon, #testimonials #testimonialsSliderBox .carousel-control-prev-icon {
  filter: invert(1);
}

.footer-copyright {
  background-color: #121212;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: xl) {
  .carousel-caption {
    top: 25%;
  }
}
@media (max-width: lg) {
  .carousel-caption {
    top: 20%;
  }
  .carousel-caption h2 {
    font-size: 30px !important;
  }
}
@media (max-width: md) {
  .gallery-wrapper {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    grid-gap: 2;
    grid-auto-flow: dense;
  }
  .gallery-wrapper .gallery-item:nth-child(3n+2) {
    grid-column: 1/span 2;
    grid-row-end: span 2;
  }
  .gallery-wrapper .gallery-item:nth-child(4n+3) {
    grid-column: 2/span 1;
    grid-row-end: span 2;
  }
  .w-1,
  .w-2,
  .w-3,
  .w-4,
  .w-5 {
    grid-column: span 1;
  }
  .h-1,
  .h-2,
  .h-3,
  .h-4,
  .h-5 {
    grid-row: span 1;
  }
  main {
    width: 500px;
  }
  .testimonialsSliderBox .slide-row {
    width: 2000px;
  }
  .testimonialsSliderBox .slide-row .slide-col {
    width: 500px;
    height: 250px;
  }
  .testimonialsSliderBox .slide-row .slide-col .hero img {
    width: 200px;
  }
  .testimonialsSliderBox .slide-row .slide-col .content {
    width: 320px;
    height: 200px;
    padding: 20px;
  }
}
@media (max-width: sm) {
  .gallery-wrapper {
    display: flex;
    flex-direction: column;
    flex: wrap;
    gap: 2.5rem;
    margin: 5rem;
  }
  main {
    width: 300px;
  }
  .testimonialsSliderBox .slide-row {
    width: 1200px;
  }
  .testimonialsSliderBox .slide-row .slide-col {
    width: 500px;
    height: 300px;
  }
  .testimonialsSliderBox .slide-row .slide-col .hero {
    top: 60%;
    height: 100px;
    z-index: 5;
  }
  .testimonialsSliderBox .slide-row .slide-col .hero img {
    width: 100px;
  }
  .testimonialsSliderBox .slide-row .slide-col .content {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */