@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  width: auto;
  box-sizing: border-box;
  background: transparent;
  color: #121212;
  font: 400 16px "Poppins", sans-serif;
}

section {
  padding: 50px 0;
  margin: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.bgGradient {
  background-image: radial-gradient(at 40% 20%, rgb(255, 184, 122) 0px, transparent 50%), radial-gradient(at 80% 0%, rgb(31, 221, 255) 0px, transparent 50%), radial-gradient(at 0% 50%, rgb(255, 219, 222) 0px, transparent 50%), radial-gradient(at 80% 50%, rgb(255, 133, 173) 0px, transparent 50%), radial-gradient(at 0% 100%, rgb(255, 181, 138) 0px, transparent 50%), radial-gradient(at 80% 100%, rgb(107, 102, 255) 0px, transparent 50%), radial-gradient(at 0% 0%, rgb(255, 133, 167) 0px, transparent 50%);
  background-repeat: no-repeat;
}

header {
  background: transparent;
}
header .navbar {
  margin: 0;
  padding: 0;
}
header .navbar .navbar-brand img {
  width: 80px;
}
header .navbar .navbar-toggler {
  outline: 0;
  background: transparent;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0;
  z-index: 5;
}
header .navbar .navbar-toggler .navbar-toggler-icon {
  background: #ffffff;
  height: 2px;
  width: 30px;
  position: relative;
}
header .navbar .navbar-toggler .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #ffffff;
  top: -8px;
  left: 0;
  transition-duration: 0.5s;
}
header .navbar .navbar-toggler .navbar-toggler-icon::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #ffffff;
  top: 8px;
  left: 0;
  transition-duration: 0.5s;
}
header .navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  height: 0;
}
header .navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon::after {
  top: 0;
  transform: rotate(45deg);
}
header .navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon::before {
  top: 0;
  transform: rotate(-45deg);
}
header .navbar .navbar-collapse {
  transition: height 0s;
  justify-content: flex-end;
}
header .navbar .navbar-collapse .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 16px;
}
header .navbar .navbar-collapse .navbar-nav .nav-link:hover, header .navbar .navbar-collapse .navbar-nav .nav-link.active {
  color: #00beff;
  text-decoration: underline;
  text-underline-offset: 5px;
}
header .navbar .navbar-collapse .navbar-nav .show > .nav-link {
  color: #00beff;
}
header .navbar.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
header .navbar .collapsing {
  transition: height 0s;
}

#home .carousel .carousel-inner .carousel-item {
  position: relative;
  max-height: 500px;
}
#home .carousel .carousel-inner .carousel-item .background-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
#home .carousel .carousel-inner .carousel-item img {
  z-index: 2;
}
#home .carousel .carousel-inner .carousel-item .carousel-caption {
  top: 40%;
  display: block !important;
  z-index: 3;
  margin: 0;
  padding: 0;
  animation: show 0.75s ease-in-out 0.3s forwards;
}
@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
#home .carousel .carousel-inner .carousel-item .carousel-caption h2 {
  margin-bottom: 15px;
  text-align: left;
}
#home .carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: left;
}
#home .carousel .carousel-control-next, #home .carousel .carousel-control-prev {
  z-index: 4;
  top: auto;
  bottom: 3%;
}
#home .carousel .carousel-indicators {
  margin-bottom: 0;
  bottom: 3%;
}

.textContentBox {
  position: relative;
}
.textContentBox .textBoxes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.textContentBox .textBoxes h3 {
  margin-bottom: 15px;
}
.textContentBox .imagebox {
  position: relative;
  height: 100%;
  width: 100%;
}
.textContentBox .imagebox.first {
  box-shadow: -30px -30px rgba(58, 151, 216, 0.3);
}
.textContentBox .imagebox.second {
  box-shadow: 30px -30px rgba(58, 151, 216, 0.3);
}
.textContentBox .imagebox img {
  height: 100%;
  width: 100%;
}

.gallery-wrapper {
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-auto-flow: dense;
}
.gallery-wrapper .w-1 {
  grid-column: span 1;
}
.gallery-wrapper .w-2 {
  grid-column: span 2;
}
.gallery-wrapper .w-3 {
  grid-column: span 3;
}
.gallery-wrapper .w-4 {
  grid-column: span 4;
}
.gallery-wrapper .w-5 {
  grid-column: span 5;
}
.gallery-wrapper .h-1 {
  grid-row: span 1;
}
.gallery-wrapper .h-2 {
  grid-row: span 2;
}
.gallery-wrapper .h-3 {
  grid-row: span 3;
}
.gallery-wrapper .h-4 {
  grid-row: span 4;
}
.gallery-wrapper .h-5 {
  grid-row: span 5;
}
.gallery-wrapper .gallery-item {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
}

.imagebox {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imagebox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  transition: all 400ms ease-in;
  transform: scale(1);
}
.imagebox img:hover {
  transform: scale(1.1);
}

#gallery {
  position: relative;
}
#gallery .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
#gallery .wrapper .galleryCarousel {
  width: 100%;
  margin: 0px;
  padding: 0;
}
#gallery .wrapper .galleryCarousel .slick-slide {
  padding: 0;
  margin: 0;
  height: 400px;
  cursor: pointer;
}
#gallery .wrapper .galleryCarousel .slick-slide img {
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
}

#testimonials {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
  width: 100%;
}
#testimonials #testimonialsSliderBox {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#testimonials #testimonialsSliderBox .carousel-inner {
  display: flex;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox {
  position: relative;
  width: 800px;
  height: 400px;
  margin: auto;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox .testimonialsContent {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 550px;
  height: auto;
  color: #121212;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  padding: 40px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox .testimonialsContent p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox .testimonialsContent h4 {
  font-weight: 600;
  margin-top: 30px;
  color: #121212;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox .testimonialsImage {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#testimonials #testimonialsSliderBox .carousel-inner .carousel-item .carouselBox .testimonialsImage img {
  height: 100%;
  border-radius: 10px;
  width: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#testimonials #testimonialsSliderBox .carousel-control-next, #testimonials #testimonialsSliderBox .carousel-control-prev {
  background: #ffffff;
  opacity: 1;
  border-radius: 100%;
  height: 30px;
  width: 30px !important;
  z-index: 5;
  top: calc(100% - 30px);
}
#testimonials #testimonialsSliderBox .carousel-control-next-icon, #testimonials #testimonialsSliderBox .carousel-control-prev-icon {
  filter: invert(1);
  height: 20px;
  width: 20px;
}

.footer-copyright {
  background-color: #121212;
  color: #ffffff;
  padding: 15px 30px;
  text-align: center;
}
.footer-copyright .footer-copyright-text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .textContentBox .imagebox {
    height: 90%;
    width: 90%;
  }
  .textContentBox .imagebox.first {
    box-shadow: -20px -20px rgba(58, 151, 216, 0.3);
  }
  .textContentBox .imagebox.second {
    box-shadow: 20px -20px rgba(58, 151, 216, 0.3);
  }
}
@media (max-width: 991px) {
  .navbar-collapse.show {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 30px;
    margin: 0px;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .textContentBox .imagebox {
    height: 100%;
    width: 100%;
  }
  .textContentBox .textBoxes {
    margin: 30px 0;
    height: auto;
  }
  .gallery-wrapper {
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 1fr;
    grid-gap: 2;
    grid-auto-flow: dense;
  }
  .gallery-wrapper .gallery-item:nth-child(3n+2) {
    grid-column: 1/span 2;
    grid-row-end: span 2;
  }
  .gallery-wrapper .gallery-item:nth-child(4n+3) {
    grid-column: 2/span 1;
    grid-row-end: span 2;
  }
  .w-1,
  .w-2,
  .w-3,
  .w-4,
  .w-5 {
    grid-column: span 2 !important;
  }
  .h-1,
  .h-2,
  .h-3,
  .h-4,
  .h-5 {
    grid-row: span 2 !important;
  }
  #testimonialsSliderBox .carouselBox {
    width: 550px !important;
    height: 350px !important;
  }
  #testimonialsSliderBox .carouselBox .testimonialsImage img {
    width: 220px !important;
  }
  #testimonialsSliderBox .carouselBox .testimonialsContent {
    width: 400px !important;
    padding: 20px !important;
  }
}
@media (max-width: 767px) {
  section {
    padding: 30px 0;
  }
  #home .carousel .carousel-inner .carousel-item {
    height: 400px;
  }
  #home .carousel .carousel-inner .carousel-item img {
    height: 100%;
  }
  #home .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 33%;
    left: 7%;
    right: 7%;
  }
  .carousel-caption p {
    font-size: 16px !important;
  }
  .gallery-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  #testimonialsSliderBox .carouselBox {
    width: 100% !important;
  }
  #testimonialsSliderBox .carouselBox .testimonialsImage {
    top: 70% !important;
    height: 100px !important;
    z-index: 5;
  }
  #testimonialsSliderBox .carouselBox .testimonialsImage img {
    width: 100% !important;
  }
  #testimonialsSliderBox .carouselBox .testimonialsContent {
    width: 100% !important;
  }
  #testimonialsSliderBox .carousel-control-next, #testimonialsSliderBox .carousel-control-prev {
    bottom: 0 !important;
  }
}/*# sourceMappingURL=style.css.map */