// font-family
$font-family-thin:            "Poppins", sans-serif;  //100
$font-family-extralight:      "Poppins", sans-serif;  //200
$font-family-light:           "Poppins", sans-serif;  //300
$font-family-regular:         "Poppins", sans-serif;  //400
$font-family-medium:          "Poppins", sans-serif;  //500
$font-family-semibold:        "Poppins", sans-serif;  //600
$font-family-bold:            "Poppins", sans-serif;  //700
$font-family-extrabold:       "Poppins", sans-serif;  //800
$font-family-black:           "Poppins", sans-serif;  //900

$font-weight-thin:            100;
$font-weight-extralight:      200;
$font-weight-light:           300;
$font-weight-regular:         400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-extrabold:       800;
$font-weight-black:           900;

// font-sizes
$font-size-extra-small:       12px;
$font-size-small:             14px;
$font-size-regular:           16px;
$font-size-medium:            18px;
$font-size-large:             20px;
$font-size-h6:                22px;
$font-size-h5:                24px;
$font-size-h4:                26px;
$font-size-h3:                30px;
$font-size-h2:                36px;
$font-size-h1:                44px;

$font-family-regular:         $font-family-regular;
$font-size-regular:           $font-size-regular;
$font-weight-regular:         400;
$line-height-regular:         1.5;
$body-color:                  $primary-1;

$link-color:                  $primary-1;
$link-decoration:             none;
$link-hover-color:            $primary-2;
$link-hover-decoration:       underline;

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 575px,
  md: 767px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  xs: 100%,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xxl: 1400px
);